#entorno virtual
herramientas-env/

#caché
__pycache__/
*.pyc

# los  modelos entrenados (opcional si son grandes o confidenciales)
*.h5

#archivos temporales
*.log
.DS_Store

#imagen estadisticas
stats

#hashes de las imagenes
feedback_log.json